[submodule "bundle/neobundle.vim"]
	path = bundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim.git
[submodule "bundle/repos/github.com/Shougo/dein.vim"]
	path = bundle/repos/github.com/Shougo/dein.vim
	url = ssh://git@github.com/Shougo/dein.vim
